# Requires clang-format 20 or newer.
BasedOnStyle: LLVM
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
PointerAlignment: Left
SortIncludes: CaseSensitive
SpaceBeforeParens: ControlStatements
WrapNamespaceBodyWithEmptyLines: Always
